.git
.gitignore
.github
.vscode
node_modules
frontend
BRECOS
*.log
.env
.DS_Store
Thumbs.db
README.md
backend/tests
backend/storage/logs/*
backend/storage/framework/cache/*
backend/storage/framework/sessions/*
backend/storage/framework/views/*
backend/vendor
backend/.env
backend/.env.example
backend/phpunit.xml
backend/README.md
